# Django Core
Django>=5.2,<6.0

# Django REST Framework + JWT Authentication
djangorestframework
djangorestframework-simplejwt

# CORS (for Flutter web / mobile requests)
django-cors-headers

# Production Server (WSGI)
gunicorn
